cffi==1.15.1
cryptography==38.0.3
importlib-metadata==5.0.0
jaraco.classes==3.2.3
jeepney==0.8.0
keyring==23.11.0
keyrings.alt==4.2.0
more-itertools==9.0.0
pycparser==2.21
SecretStorage==3.3.3
zipp==3.10.0
